body{
  font-family: calibri;
}

table{
  margin: auto;
  width: 900px;
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2}

#divPlayer, #divInputRSS{
  text-align: center;
  margin: 20px;
}

#inputRSS{
  width: 400px;
}
